################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/slnx.sqlite
/.vs/mpiua-rijra/v17/.wsuo
